<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
	<div class="container">

		<div class="section-title">
			<h2>Curriculum vitæ</h2>
			<p>Dévellopeur web</p>
		</div>

		<div class="row">
			<div class="col-lg-6">
				<h3 class="resume-title">{{cv.2.titre_section|capitalize}}</h3>
				<div class="resume-item pb-0">
					<h4>{{cv.2.experience.0.titre_experience}}</h4>
					<p>
						<em>{{cv.2.experience.0.description.0.experience_une}}</em>
					</p>
					{# <p>
						<ul>
							<li>{{cv.2.experience.0.description.0.experience_une}}</li>
							<li>{{cv.2.experience.0.description.0.experience_deux}}</li>
							<li>{{cv.2.experience.0.description.0.experience_trois}}</li>
						</ul>
					</p> #}
				</div>

				<h3 class="resume-title">{{cv.0.titre_section|capitalize}}</h3>
				<div class="resume-item">
					<h4>{{cv.0.experience.0.titre_experience}}</h4>
					<h5>{{cv.0.experience.0.aannee}}</h5>
					<p>
						<em>{{cv.0.experience.0.lieu}}</em>
					</p>
					<p>
						<ul>
							<li>{{cv.0.experience.0.description.0.experience_une}}</li>
							<li>{{cv.0.experience.0.description.0.experience_deux}}</li>
							<li>{{cv.0.experience.0.description.0.experience_trois}}</li>
							<li>{{cv.0.experience.0.description.0.exeprience_quatre}}</li>
						</ul>
					</p>
				</div>
				<div class="resume-item">
					<h4>{{cv.0.experience.1.titre_experience}}</h4>
					<h5>{{cv.0.experience.1.aannee}}</h5>
					<p>
						<em>{{cv.0.experience.1.lieu}}</em>
					</p>
					<p>{{cv.0.experience.1.description.0.experience_une}}</p>
				</div>
			</div>
			<div class="col-lg-6">
      {# section pro #}
				<h3 class="resume-title">{{cv.1.titre_section|capitalize}}</h3>
				<div class="resume-item">
					<h4>{{cv.1.experience.0.titre_experience}}</h4>
					<h5>{{cv.1.experience.0.aannee}}</h5>
					<p>
						<em>{{cv.1.experience.0.lieu}}
						</em>
					</p>
					<p>
						<ul>
							<li>{{cv.1.experience.0.description.0.experience_une}}</li>
							<li>{{cv.1.experience.0.description.0.experience_deux}}
							</li>
							<li>{{cv.1.experience.0.description.0.experience_trois}}
							</li>
							{# <li>{{cv.1.experience.0.description.0.experience_trois}}</li>
							              <li>{{cv.1.experience.0.description.0.exeprience_quatre}}</li> #}
						</ul>
					</p>
				</div>
				<div class="resume-item">
					<h4>{{cv.1.experience.1.titre_experience}}</h4>
					<h5>{{cv.1.experience.1.aannee}}</h5>
					<p>
						<em>{{cv.1.experience.1.lieu}}</em>
					</p>
					<p>
						<ul>
							<li>{{cv.1.experience.1.description.0.experience_une}}</li>
							{# <li>Managed up to 5 projects or tasks at a given time while under pressure</li>
							              <li>Recommended and consulted with clients on the most appropriate graphic design</li>
							              <li>Created 4+ design presentations and proposals a month for clients and account managers</li> #}
						</ul>
					</p>
				</div>
			</div>
		</div>

	</div>
</section>
<!-- End Resume Section -->
