<!-- ======= About Me ======= -->
<div class="about-me container">

	<div class="section-title">
		<h2>À propos</h2>
		<p>En savoir plus sur moi</p>
	</div>

	<div class="row">
	{# <pre>
		{{ dump(about) }}
	</pre>

	{% for item in about %}
{% for key, i in item %}

{{key}}: {{i}}
	<pre>
		{{ dump(i) }}
	</pre>
{% endfor %}
	{% endfor %} #}

		<div class="col-lg-4" data-aos="fade-right">
			<img src="{{asset ('img/avatar.png')}}" class="img-fluid" alt="">
		</div>
		<div
			class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
			{# boucle for pour lire le tableau about et afficher les data #}
			<h3>Développeur Backend PHP</h3>
			<p class="fst-italic">
				Le plus fort d'entre tous est celui-ci qui se soumet à lui-même.
			</p>
			<div class="row">
				<div class="col-lg-6">
					<ul>
						<li>
							<i class="bi bi-chevron-right"></i>
							<strong>Anniversaire:</strong>
							<span>Lundi 17 février 1986</span>
						</li>
						<li>
							<i class="bi bi-chevron-right"></i>
							<strong>Téléphone:</strong>
							<span>0649677139</span>
						</li>
						<li>
							<i class="bi bi-chevron-right"></i>
							<strong>Ville:</strong>
							<span>Arras, France</span>
						</li>

					</ul>
				</div>
				<div class="col-lg-6">
					<ul>
						<li>
							<i class="bi bi-chevron-right"></i>
							<strong>Age:</strong>
							<span>36</span>
						</li>
						<li>
							<i class="bi bi-chevron-right"></i>
							<strong>email:</strong>
							<span>jamalelk60@gmail.com</span>
						</li>
						<li>
							<i class="bi bi-chevron-right"></i>
							<strong>Freelance:</strong>
							<span>Available</span>
						</li>
					</ul>
				</div>
			</div>
			<p>Je suis Jamal développeur web et web mobile, spécialisé backend. Je développe avec le langage de programmation PHP. Mon portfolio est construit sur le Framework Symfony 5.4. De nature curieux, j’ai commencé avec html et css 2 ans avant mon entrée en formation. L’année 2021 a été transitoire, j’ai suivi la formation développeur web et web mobile niveau Bac+2 avec O’clock. Cela m'a permis de découvrir et d’approfondir, le langage SQL, les concepts de la POO/MVC, PHP et Symfony. Pour ce qui est du workflow, j’ai fait la découverte de Trello, , organisé le code avec git et GitHub, le pair-programming et veille techno. Prenant conscience de l’évolution des technologies, pour me tenir informé, j’utilise les réseaux sociaux et forum. Mes objectifs sont multiples. Devenir un développeur confirmé, monter en compétences et réaliser des projets personnels.</p>
		</div>
	</div>

</div>
<!-- End About Me -->

