<!-- ======= Skills  ======= -->
<div class="skills container">

	<div class="section-title">
		<h2>Skills</h2>
	</div>

	<div class="row skills-content">

		<div class="col-lg-6">
			{% for item in skills %}
				<div class="progress">
					<span class="skill">{{item.name}}
						<i class="val">{{item.level}}%</i>
					</span>
					<div class="progress-bar-wrap">
						<div class="progress-bar" role="progressbar" aria-valuenow="{{item.level}}" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
				</div>
			{% endfor %}

		</div>

		<div class="col-lg-6">
			{% for item in skills_section %}


				<div class="progress">
					<span class="skill">{{item.name}}
						<i class="val">{{item.level}}%</i>
					</span>
					<div class="progress-bar-wrap">
						<div class="progress-bar" role="progressbar" aria-valuenow="{{item.level}}" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
				</div>

			{% endfor %}
		</div>

	</div>

</div>
<!-- End Skills -->

